
body{
    font: 20px Arial, sans-serif;
}
.navbar{
     background-color: #3076c5;
}

.quem-somos{
    background-color: #b1d0f3;
    color: rgb(9, 9, 129);
}

.margin{
    padding-bottom: 50px;
    padding-top: 10px;
}

.parceiros{
    background-color: #bad5f5;
    color: rgb(9, 9, 129);
}

.servicos{
     background-color: #c8dbf1;
    color: rgb(9, 9, 129);
}

.rodape{
    background-color: #dfe8f3;
    color: rgb(9, 9, 129); 
}